data/raw/**/*.parquet filter=lfs diff=lfs merge=lfs -text
data/processed/**/*.json filter=lfs diff=lfs merge=lfs -text
data/processed/**/*.csv filter=lfs diff=lfs merge=lfs -text
data/processed/**/*.parquet filter=lfs diff=lfs merge=lfs -text
data/raw/**/*.json filter=lfs diff=lfs merge=lfs -text
data/raw/**/*.csv filter=lfs diff=lfs merge=lfs -text
/data/raw/arbitration_pages.json filter=lfs diff=lfs merge=lfs -text
/data/raw/arbitration/all_arbitration_cases_20260203_193036.json filter=lfs diff=lfs merge=lfs -text
/data/raw/rfc/all_requests_for_comments_20260203_194440.json filter=lfs diff=lfs merge=lfs -text
/data/raw/drn/drn_all_cases_20260218_234054.json filter=lfs diff=lfs merge=lfs -text
/data/raw/rfc/all_requests_for_comments_20260218_234756.json filter=lfs diff=lfs merge=lfs -text
/data/raw/arbitration/arbitration_cases_20260216_163707.json filter=lfs diff=lfs merge=lfs -text
/data/raw/drn/drn_all_cases_20260216_182011.json filter=lfs diff=lfs merge=lfs -text
/data/raw/rfc/all_requests_for_comments_20260216_190607.json filter=lfs diff=lfs merge=lfs -text
